@model Primis_Technical_Solutions.Models.Partners_Section

@{
    ViewData["Title"] = "Edit";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<h1>Edit</h1>

<h4>Partners_Section</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Partners_SectionId" />
            <div class="form-group">
                <label asp-for="Partner_Title" class="control-label"></label>
                <textarea id="summernote1" asp-for="Partner_Title" class="form-control"> </textarea>
                <span asp-validation-for="Partner_Title" class="text-danger"></span>
                <script>
                    $('#summernote1').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Partner_Icon" class="control-label"></label>
                <input type="file" asp-for="Partner_Icon" class="form-control" />
                <span asp-validation-for="Partner_Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
