@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<section class="banner_w3pvt">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />

        <ul>
            <li>
                <div class="banner-top">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Strategy</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Guidance</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top2">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Progress</h3>

                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>

        </div>
    </div>
</section>
<!-- //slider -->

<!-- //banner -->
<!-- //banner-botttom -->
<section class="content-info py-5" id="about">
    <div class="container py-md-5">
        <div class="text-center px-lg-5">
            <div class="title-desc text-center px-lg-5">
                <p class="px-lg-5 sub-wthree">At Primis Technical Solutions we offer comprehensive project management consultation and implementation services 
                    for cloud computing and digital transformation goals and provide network services.We follow a holistic approach, 
                    addressing strategic aspects of cloud adoption, migration, security consulting, cloud infrastructure management and networking services.
                </p>
                <a class="btn mt-lg-4 mt-3 read" href="single.html" role="button"><span class="fa fa-play" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- //banner-botttom -->
<!-- /about -->
<section class="about py-md-5 py-5" id="about">
    <div class="container py-md-5">
        <div class="feature-grids row mt-3">
            <div class="col-lg-4 gd-bottom mt-4">
                <div class="bottom-gd p-lg-5 p-4">
                    <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                    <h3 class="my-3">Project Management Consultation</h3>
                    <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                </div>
            </div>
            <div class="col-lg-4 gd-bottom mt-4">
                <div class="bottom-gd2-active p-lg-5 p-4">
                    <span class="fa fa-podcast" aria-hidden="true"></span>
                    <h3 class="my-3">Implementation Services</h3>
                    <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                </div>
            </div>
            <div class="col-lg-4 gd-bottom mt-4">
                <div class="bottom-gd p-lg-5 p-4">
                    <span class="fa fa-flask" aria-hidden="true"></span>
                    <h3 class="my-3">Network Services</h3>
                    <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- //about -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts" id="skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 progress-content-img px-lg-0">
                <img src="images/img1.jpg" alt="" class="img-fluid image1">
            </div>
            <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <h3 class="title-w3pvt mb-5">Our Skills</h3>

                    <p>
                        We provide skilled project managers, network engineers, cyber security analysts and developer.
                        We enable the design, architecture, implementation, support, and delivery of your complex technical solutions.
                    </p>
                    <div class="progress-w3pvt mt-5">
                        <div class="progress-one">
                            <h4 class="progress-wthree">Design</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one my-lg-4">
                            <h4 class="progress-wthree">Architecture</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Implementation</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one my-lg-4">
                            <h4 class="progress-wthree">Support</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Delivery</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /full-grid -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <h3 class="title-w3pvt mb-5">Our Sectors</h3>

                    <p>
                        We cater to a varity of customers from any sector that requires cloud strategy development, 
                        Infrastructure Assessment and Migration Planning, Security and Compliance Integration, Continuous Monitoring and Optimisation,
                        Project Management and Execution, digital transformation solution and networking services.
                    </p>
                    <ul class="tic-info list-unstyled mt-5">

                        <li>

                            <span class="fa fa-check mr-2"></span> Cloud Strategy Development

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Infrastructure Assessment and Migration Planning

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Security and Compliance Integration

                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Continuous Monitoring and Optimisation

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Project Management and Execution

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Digital Transformation Solution and Networking Services

                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6 progress-content-img two px-lg-0">
                <img src="images/img2.jpg" alt="" class="img-fluid image1">
            </div>
        </div>
    </div>
</section>
<!-- /banner-bottom -->
<!-- /features -->
<section class="about py-md-5 py-5" id="services">
    <div class="container py-md-5">
        <h3 class="title-w3pvt text-center mb-5">Our Features</h3>
        <div class="feature-grids row mt-5">
            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Project Management and Execution</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Cloud Strategy Development</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Infrastructure Assessment and Migration Planning</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Security and Compliance Integration</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Continuous Monitoring and Optimisation</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom process-1 text-lg-center text-center  p-lg-5">
                <h3 class="my-3">Network Design Services</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>

            <div class="col-lg-4 gd-bottom">
            </div>
            <div class="col-lg-4 gd-bottom text-center p-lg-5">
                <h3 class="my-3">Network Support Services</h3>
                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>
            <div class="col-lg-4">
            </div>

        </div>


    </div>
</section>
<!-- //features -->
<!--/gallery -->
<section class="gallery py-5" id="gallery">
    <div class="container py-md-5">

        <h3 class="title-w3pvt text-center mb-5">Our Portfolio</h3>
        <div class="gallery-content">
            <div class="row">
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal1"><img src="images/g1.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal2"><img src="images/g2.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal3"><img src="images/g3.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal4"><img src="images/g4.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal5"><img src="images/g5.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>
                <div class="col-md-4 col-sm-6 gal-img">
                    <a href="#gal6"><img src="images/g6.jpg" alt="aegis" class="img-fluid mt-4"></a>
                </div>

            </div>
            <!-- gallery popups -->
            <!-- popup-->
            <div id="gal1" class="popup-effect">
                <div class="popup">
                    <img src="images/g1.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal2" class="popup-effect">
                <div class="popup">
                    <img src="images/g2.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="popup-effect">
                <div class="popup">
                    <img src="images/g3.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal4" class="popup-effect">
                <div class="popup">
                    <img src="images/g4.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal5" class="popup-effect">
                <div class="popup">
                    <img src="images/g5.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal6" class="popup-effect">
                <div class="popup">
                    <img src="images/g6.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- //gallery popups -->

        </div>
    </div>


</section>
<!-- //gallery-->
<!-- partners -->
<section class="partners py-5" id="partners">
    <div class="container py-md-3">
        <h3 class="title-w3pvt two text-center mb-5">Industries</h3>
        <div class="row grid-part text-center">
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-angellist"></span></a>
                    <h4>Healthcare</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-opencart"></span></a>
                    <h4>Hospitality</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-lastfm"></span></a>
                    <h4>Prisons</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-openid"></span></a>
                    <h4>Local Authorities</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-skyatlas"></span></a>
                    <h4>Police force</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-ravelry"></span></a>
                    <h4>Telecommunication</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-angellist"></span></a>
                    <h4>Legal sector</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-opencart"></span></a>
                    <h4>Air Transportation</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-lastfm"></span></a>
                    <h4>Logistics</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-openid"></span></a>
                    <h4>Manufacturing</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-skyatlas"></span></a>
                    <h4>Energy</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-3">
                <div class="partner-w3pvt">
                    <a href="#"><span class="fa fa-ravelry"></span></a>
                    <h4>Education</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //partners -->