@{
    ViewData["Title"] = "Service Page";
}
<!-- banner -->
<section class="banner_w3pvt">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />

        <ul>
            <li>
                <div class="banner-top">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Strategy</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Guidance</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top2">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Progress</h3>

                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>

        </div>
    </div>
</section>
<!-- //banner -->