@model Primis_Technical_Solutions.viewModel.ServiceViewModel
@{
    ViewData["Title"] = "Service Page";
}
@foreach (var BL in Model.Banner_Logos)
{
    <!-- mian-content -->
    <div class="main-w3layouts-header-sec inner-page" id="home" style=" background: url(@BL.Service_Banner) no-repeat top; background-size: cover; min-height: 20em;">
        <div class="overlay-innerpage">
            <!-- header -->
            <!-- //header -->
        </div>
    </div>
}

<section class="collections-gid-w3layouts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <h3 class="title-w3pvt mb-5">@Model.Title</h3>

                    <p>
                        @Model.Description
                    </p>

                </div>

            </div>
            <div class="col-lg-6 progress-content-img two px-lg-0">
                <img src="@Model.Image" alt="" class="img-fluid image1">
            </div>

        </div>
    </div>
</section>