@model Primis_Technical_Solutions.Models.Our_Industry

@{
    ViewData["Title"] = "Details";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<h1>Details</h1>

<div>
    <h4>Our_Industry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Industry_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Industry_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indutry_Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indutry_Icon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Our_IndustryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
