@model Primis_Technical_Solutions.Models.Banners_Logo

@{
    ViewData["Title"] = "Edit";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<h1>Edit</h1>

<h4>Banners_Logo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Banners_LogoId" />
            <div class="form-group">
                <label asp-for="Top_Logo" class="control-label"></label>
                <input type="file" asp-for="Top_Logo" class="form-control" />
                <span asp-validation-for="Top_Logo" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Bottom_Logo" class="control-label"></label>
                <input type="file" asp-for="Bottom_Logo" class="form-control" />
                <span asp-validation-for="Bottom_Logo" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="About_Banner" class="control-label"></label>
                <input type="file" asp-for="About_Banner" class="form-control" />
                <span asp-validation-for="About_Banner" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Contact_Banner" class="control-label"></label>
                <input type="file" asp-for="Contact_Banner" class="form-control" />
                <span asp-validation-for="Contact_Banner" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Service_Banner" class="control-label"></label>
                <input type="file" asp-for="Service_Banner" class="form-control" />
                <span asp-validation-for="Service_Banner" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Table_Banner" class="control-label"></label>
                <input type="file" asp-for="Table_Banner" class="form-control" />
                <span asp-validation-for="Table_Banner" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}